.gallery {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gallery__inner {
    position: relative;
    margin: 0;
    padding: 0;
}

.gallery__image {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.gallery__image img {
    width: 100%;
}

.gallery__button-left, .gallery__button-right {
    position: absolute;
    top: calc(50% - 15px);
    display: block;
    width: 26px;
    height: 30px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}


.gallery__button-left {
    left: 24px;
    background: url("../img/left-desc.svg") no-repeat;
}

.gallery__button-right {
    right: 24px;
    background: url("../img/right-desc.svg") no-repeat;
}

@media (min-width: 768px) {
    .gallery__button-left, .gallery__button-right {
        top: calc(50% - 30px);
        width: 55px;
        height: 60px;
    }

    .gallery__button-left {
        left: 48px;
    }

    .gallery__button-right {
        right: 48px;
    }
}

@media (min-width: 1280px) {
    .gallery__button-left, .gallery__button-right {
        width: 60px;
        height: 65px;
    }

    .gallery__button-left {
        left: 120px;
    }

    .gallery__button-right {
        right: 120px;
    }
}
