.guarantee {
    margin: -2px 0 -2px 0;
    padding: 0;
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #080808;
}

.guarantee__wrap {
    width: 320px;
    margin: 0 auto;
    padding: 70px 0 90px 0;
}

.guarantee__wrap-top {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.guarantee__title {
    margin: 0;
    padding: 0 0 35px 16px;
    font-style: italic;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
}

.guarantee__item {
    position: relative;
    margin: 0;
    padding: 40px 0 0 0;
    background-color: transparent;
}

.guarantee__item--idea::before {
    content: '';
    position: absolute;
    width: 208px;
    height: 188px;
    background-image: url("../img/idea.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: -10;
}

.guarantee__item--protect::before {
    content: '';
    position: absolute;
    width: 128px;
    height: 150px;
    background-image: url("../img/protect.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: -10;
}

.guarantee__item--support::before {
    content: '';
    position: absolute;
    width: 204px;
    height: 186px;
    background-image: url("../img/support.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: -10;
}

.guarantee__item--money::before {
    content: '';
    position: absolute;
    width: 226px;
    height: 160px;
    background-image: url("../img/money.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: -10;
}

.guarantee__item--friends::before {
    content: '';
    position: absolute;
    width: 214px;
    height: 205px;
    background-image: url("../img/friends.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: -10;
}

.guarantee__item-title {
    margin: 0 0 20px 0;
    padding: 0;
    width: 180px;
    font-weight: 900;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
}

.guarantee__item-description {
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    white-space: pre-line;
    color: #ffffff;
}

@media (min-width: 768px) {
    .guarantee__wrap {
        width: 768px;
    }

    .guarantee__title {
        padding: 0 0 50px 48px;
        font-size: 40px;
        line-height: 48px;
    }

    .guarantee__item {
        margin: 0 80px 0 0;
    }

    .guarantee__item--idea::before {
        right: -40px;
    }

    .guarantee__item--protect::before {
        right: -15px;
    }

    .guarantee__item--support::before {
        right: -40px;
    }

    .guarantee__item--money::before {
        right: -20px;
    }

    .guarantee__item--friends::before {
        right: -20px;
    }

    .guarantee__item-title {
        width: 240px;
    }

    .guarantee__item-description {
        width: 240px;
        white-space: normal;
    }
}

@media (min-width: 1024px) {
    .guarantee__wrap {
        width: 860px;
    }

    .guarantee__title {
        padding: 0 0 50px 0;
    }

    .guarantee__item-description {
        width: 360px;
        font-size: 16px;
        line-height: 32px;
    }
}

@media (min-width: 1280px) {
    .guarantee__wrap {
        width: 1200px;
    }

    .guarantee__title {
        width: 420px;
        padding: 0 0 40px 0;
        font-size: 48px;
        line-height: 90px;
    }

    .guarantee__item {
        margin: 0 140px 0 0;
    }

    .guarantee__item--idea::before {
        right: -20px;
    }

    .guarantee__item--protect::before {
        right: -20px;
    }

    .guarantee__item--support::before {
        right: -50px;
    }

    .guarantee__item--money::before {
        right: -20px;
    }

    .guarantee__item--friends::before {
        right: -20px;
    }

    .guarantee__item-title {
        width: 350px;
        margin: 0 0 30px 0;
        font-size: 36px;
        line-height: 40px;
    }

    .guarantee__item-description {
        width: 350px;
        font-size: 18px;
        line-height: 32px;
    }
}
