.guarantee {
    margin: -2px 0 -2px 0;
    padding: 0;
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #080808;
}

.guarantee__wrap {
    width: 320px;
    margin: 0 auto;
    padding: 70px 0 90px 0;
}

.guarantee__wrap-top {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.guarantee__title {
    margin: 0;
    padding: 0 0 35px 16px;
    font-style: italic;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
}

.guarantee__item {
    position: relative;
    padding: 40px 0 0 0;
    background-color: transparent;
    text-align: center;
    min-height: 205px;
    background-position: center;
    background-repeat: no-repeat;
}

.guarantee__item--idea {
    background-image: url("../img/idea.svg");
}

.guarantee__item--protect {
    background-image: url("../img/protect.svg");
}

.guarantee__item--support {
    background-image: url("../img/support.svg");
}

.guarantee__item--money {
    background-image: url("../img/money.svg");
}

.guarantee__item--friends {
    background-image: url("../img/friends.svg");
}

.guarantee__item-title {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
}

.guarantee__item-description {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    white-space: pre-line;
    color: #ffffff;
}

/*
.guarantee__button-prev {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    color: white;
}

.guarantee__button-next {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    color: white;
}

 */

@media (min-width: 768px) {
    .guarantee__wrap {
        width: 768px;
    }

    .guarantee__title {
        padding: 0 0 50px 48px;
        font-size: 40px;
        line-height: 48px;
    }

    .guarantee__item {
        text-align: inherit;
        margin: 0 80px 0 0;
        background-position: right;
    }

    .guarantee__item-title {
        width: 240px;
    }

    .guarantee__item-description {
        width: 240px;
        white-space: normal;
    }
}

@media (min-width: 1024px) {
    .guarantee__wrap {
        width: 860px;
    }

    .guarantee__title {
        padding: 0 0 50px 0;
    }

    .guarantee__item-description {
        width: 360px;
        font-size: 16px;
        line-height: 32px;
    }
}

@media (min-width: 1280px) {
    .guarantee__wrap {
        width: 1200px;
    }

    .guarantee__title {
        width: 420px;
        padding: 0 0 40px 0;
        font-size: 48px;
        line-height: 90px;
    }

    .guarantee__item {
        margin: 0 140px 0 0;
    }

    .guarantee__item-title {
        width: 350px;
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 40px;
    }

    .guarantee__item-description {
        width: 350px;
        font-size: 18px;
        line-height: 32px;
    }
}
