.slider-program {
    position: relative;
    margin: 0;
    padding-top: 37px;
    padding-left: 32px;
    padding-right: 32px;
}

.slider-program__inner {
    position: relative;
}

.slick-dots {
    padding-left: 0;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 16px;
    background-color: #cccccc;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.slick-dots li button {
    display: none;
}

.slick-dots .slick-active {
    background-color: #FF3232;
}

@media (min-width: 768px) {
    .slider-program {
        padding-top: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 55px;
    }

    .slider-program__controls {
        padding: 0 0 60px 16px;
    }

    .slick-dots li {
        width: 48px;
        height: 10px;
        margin-right: 24px;
        border-radius: 4px;
    }

    .slider-program__inner {
        padding: 0 0 0 16px;
    }
}

@media (min-width: 1024px) {
    .slider-program {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 80px;
    }

    .slider-program__controls {
        padding: 0 0 60px 0;
    }

    .slider-program__inner {
        padding: 0;
    }
}

@media (min-width: 1280px) {
    .slider-program__controls {
        padding: 0 0 90px 0;
    }

}
